.top_button {
  border: 1px black solid;
  padding: 10px;
  font-style: none;
  background-color: white;
  margin: 30px;
  text-align: center;
  font-size: 1.5em;
  font-family: Verdana;
}
body {
  background-color: beige;
  font-family: Verdana;
}
#button {
  text-align: center;
}
h1 {
  text-align: center;
  font-family: Verdana;
  margin: 30px;
}
img {
  height: 30%;
  width: 30%;
  left: 40%;
  position: relative;
}
#welcome {
  font-family: Verdana;
  text-align: center;
}
footer {
  position: fixed;
  top: 90%;
  left: 30%;
}
ul {
  position: relative;
  left: 30%;
}
#date {
  text-align: center;
  font-family: Verdana;
}
#blog_post {
  position: absolute;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}
