#header {
  text-align: center;
  padding: 5px;
}

#left-side {
  line-height: 60px;
  width: 100px;
  float: left;
  background-color: #29234A;
  padding: 30px;
  height: 300px;
}
#main-section {
  width: 850px;
  background-color: #4C4769;
  padding: 30px;
  margin-left: 160px;
  height: 100%;
}


#footer {
  text-align: center;
  padding: 5px;
  clear: both;
}

body {
  background-color: #36324F;
  font-family: helvetica;
  color: #100B30;
}
span > a{
  font: bold;
  text-decoration: none;
  color: white;
  font-size: 115%;
}
li > a{
  font: bold;
  text-decoration: none;
  color: #100B30;
  font-size: 115%;
}