#header {
  text-align: center;
  padding: 5px;
  color: #DFECE6;
  font-size: 120%;
}

#left-side {
  line-height: 60px;
  width: 100px;
  float: left;
  background-color: #3CA2A2;
  padding: 30px;
  height: 300px;
}
#main-section {
  width: 850px;
  background-color: #92C7A3;
  padding: 30px;
  margin-left: 160px;
  height: 100%;
}


#footer {
  text-align: center;
  padding: 5px;
  clear: both;
  color: #DFECE6;
}

body {
  background-color: #215A6D;
  font-family: helvetica;
  color: #2D2D29;

}
span > a{
  font: bold;
  text-decoration: none;
  color: #DFECE6;
  font-size: 115%;
}
li > a{
  font: bold;
  text-decoration: none;
  color: #2D2D29;
  font-size: 115%;
}

h1 > a{
  text-decoration: none;
  color: #DFECE6;
}