#header {
  text-align: center;
  padding: 5px;
}

#main {
  float: left;
  width: 100%;
}
#left-side {
  line-height: 60px;
  height: 300px;
  width: 100px;
  float: left;
  background-color: #29234A;
  padding: 30px;
}
#main-section {
  width: 1000px;
  padding: 10px;
  background-color: #4C4769;
  height: 300px;
  padding: 30px;
}

#footer {
  text-align: center;
  padding: 5px;
  clear: both;
}

img {
  height: 250px;
  width: auto;
  float: left;
  padding: 10px;
}

#welcome {
  width: 500px;
  padding: 20px;
  margin-left: 400px;
}

body {
  background-color: #36324F;
  font-family: helvetica;
  color: #100B30;
}

a {
  font: bold;
  text-decoration: none;
  color: white;
  font-size: 115%;
}